// bower:scss
// endbower

@import "grid";

.grid.highlight {
  background-color: lightgray;
}

[class*="col-"].highlight {
  $gray: #999;

  background-color: $gray;

  &:nth-child(even) {
    background-color: $gray * 1.5;
  }
}
}
