.tabs {
  display: block;
  font-style: Arial sans-serif;
  font-weight: 600;
  font-size: 1.75ex;
  color: #6894CD;
  border-bottom: .2ex solid lightgray;
  margin: 0;
  padding: 0;
}

.tabs ul {
  padding: 0;
  margin: 0;
}

.tabs-mobile {
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 2.5em;
  background-color: #FAFAFA;
}

.second {
  border-left: .2ex solid lightgray;
}

.tabs-mobile a {
  display: block;
  text-decoration: none;
  width: 100%;
  color: #6894CD;
}

.active a {
  background-color: white;
  color: black;
  border-top: .35ex solid #D66729;
  border-bottom: .2ex solid white;
  margin-bottom: -.1ex;
}

.profile-details {
  border-bottom: .2ex solid lightgray;

  li {
    line-height: 3.25ex;
  }

  div { // .profile-details div
    display: inline-block;
    height: 8.25em;
    vertical-align: top;
    padding-top: 1em;
    padding-bottom: 1em;

    .user-deets {
      margin: 0;
      padding: 0;
      list-style-type: none;
      font-size: 1.5ex;

      .display-name {
        font-size: 2.5ex;
        font-weight: bold;
        line-height: 2.5ex;
      }

      .username {
        color: #767676;
        font-weight: 500;
        padding-bottom: 1ex;
      }

      li a {
        text-decoration: none;
        color: #6894CD
      }

      span {
        margin-right: 4px;
        width: 1.1em;
        text-align: center;
        color: #767676;
      }
    }
  }
  .profile-image {
    box-sizing: border-box;
    width: 8.5em;
    padding-left: 1em;

    img { // .profile-details .profile-image img
      border-radius: 3.5%;
    }
  }
}


.social-stats {
  padding-top: 1em;
  background-color: #FAFAFA;
  border-bottom: .2ex solid lightgray;
}

.social-stats .follow {
  text-align: center;
}

.social-stats .follow button {
  width: 97.75%;
  height: 3.1em;
  background-color: #81D465;
  background-image: -webkit-linear-gradient(top, #80D263, #5DB358);
  border: .15ex solid #5CA941;
  border-radius: .2em;
  color: white;
  font-size: 1.5ex;
  font-weight: bold;
}

.social-stats .follow button span {
  padding-right: 4px;
}

.social-stats ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 1em;
}

.social-stats ul li {
  display: inline-block;
  width: 30%;
}

.social-stats ul li .big-number {
  font-size: 2.75ex;
  font-weight: bolder;
  margin-bottom: -6px;
}

.social-stats ul li .small-text {
  font-size: 1.4ex;
  color: #767676;
}

.repositories-list {
  padding-top: 1.75ex;
  background-color: #FAFAFA;
  border-bottom: .2ex solid lightgray;
}

.repositories-list ul {
  list-style-type: none;
  width: 97.5%;
  margin-top: 0;
  margin-left: 1.25%;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  text-align: left;
  background-color: white;
}

.repositories-list ul li {
  height: 3.1em;
  border-right: .2ex solid lightgray;
  border-bottom: .2ex solid #EEEEEE;
  border-left: .2ex solid lightgray;
  line-height: 3.1em;
  font-size: 1.7ex;
  font-weight: bold;
  color: #767676;
}

.repositories-list ul li a {
  text-decoration: none;
  color: #3C7ABB;
  font-weight: bold;
}

.repositories-list ul .list-header {
  border-top: .2ex solid lightgray;
  border-bottom: .2ex solid lightgray;
  font-weight: bold;
  font-size: 1.65ex;
  padding-left: 1.25%;
  height: 2.5em;
  line-height: 2.5em;
  color: #444444;
}

.repositories-list .left {
  display: inline-block;
  width: 65%;
}

.repositories-list ul .left span {
  color: #767676;
  padding-right: 1ex;
  padding-left: 1.75ex;
}


.repositories-list .right {
  display: inline-block;
  text-align: right;
  font-size: 1.5ex;
  width: 33.5%;
}

.repositories-list ul .right span {
  padding-right: .75ex;
  padding-left: .5ex;
}

.desktop {
  display: none;
}

.desktop .profile-details {
  width: 33%;
  margin-top: 1.5%;
  margin-left: 11.5%;
}

.desktop .profile-details .profile-image {
  display: block;
  height: 13.5em;
  padding: 0;
  margin: 0;
}

.desktop .profile-details .profile-info {
  display: block;
}

.desktop .profile-details h2 {
  margin: 0;
}
