// bower:scss
// endbower

@import "grid";

.example {
  .grid {
    background-color: lightgray;
  }

  [class*="unit-"] {
    $gray: #999;

    background-color: $gray;

    &:nth-child(even) {
      background-color: $gray * 1.5;
    }

    span {
      background-color: #CCC;
      display: block;
      box-sizing: border-box;
      margin: 0.5ex 0.5em;
      padding: 0.5ex 0.5em;
      border: 1px solid;
      font-size: 80%;
      font-family: monospace;
    }
  }
}
