// bower:scss
// endbower

$font-color: #333;

@import "grid";
@import "guide";

$octicons-font-path: "/bower_components/octicons/octicons/";
@import "octicons/octicons/octicons.scss";

.profile {
  padding: 0 1em !important;

  &-avatar img {
    border-radius: 5pt;
  }

  &-name {
    big, small {
      display: block;
    }
    small {
      color: lighten($font-color, 50);
    }
  } // END &-name

  &-details {
    list-style: none;
    margin: 0; padding: 0;
    & > li::before {
      @extend .octicon;
      color: lighten($font-color, 50);
      width: 1.2em;
    }
    &-org { @extend .octicon-organization; }
    &-loc { @extend .octicon-location; }
    &-eml { @extend .octicon-mail; }
    &-jnd { @extend .octicon-clock; }
  } // END &-details
} // END .profile
