$mq-width-sm: 30em !global;
$mq-width-md: 55em !global;
$mq-width-lg: 75em !global;
$mq-width-xl: 120em !global;

@mixin mq-max-width ($max-width){
  @media screen and (max-width: #{$max-width}){
    @content;
  }
}

@mixin mq-sm {
  @include mq-max-width($mq-width-sm){
    @content;
  }
}

@mixin mq-md {
  @include mq-max-width($mq-width-md){
    @content;
  }
}

@mixin mq-lg {
  @include mq-max-width($mq-width-lg){
    @content;
  }
}

.grid {
  $gutter-size: 2em;
  $gutter-side: left;

  width: auto;
  @extend .clearfix;

  @mixin unit($A, $B, $property: width){
    #{$property}: floor($A/$B * 10000) / 100 + %;

    float: left;
    padding-#{$gutter-side}: $gutter-size;
    box-sizing: border-box;

    &:first-child {
      padding-#{$gutter-side}: 0;
    }
  }

  @for $cols from 1 through 12 {
    & > .unit-#{$cols} {
      @include unit($cols, 12);
      @include mq-lg {
        padding-#{$gutter-side}: $gutter-size / 2;
      }
      @include mq-md {
        padding-left: 0;
      }
      @include mq-sm {
        width: 100%;
      }
    } // END .unit-${col}
  } // END @for $cols

  @for $cols from 1 to 12 {
    & > .push-#{$cols} {
      @include unit($cols, 12, margin-left);
      @include mq-sm {
        margin-left: 0;
      }
    }
  } // END @for $cols

  & img.responsive {
    width: 100%;
  }
} // END .grid
